{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
    <div class="admin-container">
        <h1 class="text-center">Espace Administrateur</h1>

        <div class="admin-sections">
            <div class="admin-section">
                <a href="{{ path('admin_employee') }}"> <!-- Remplace par la route des employés -->
                    <img src="{{ asset('build/images/adminSpace/employeIcon.png') }}" alt="Employés" class="admin-icon">
                    <h2>Employés/Utilisateurs</h2>
                </a>
            </div>

            <div class="admin-section">
                <a href="{{ path('admin_jeux_stock') }}"> 
                    <img src="{{ asset('build/images/adminSpace/stockJV.png') }}" alt="Stock JV" class="admin-icon">
                    <h2>Stock JV</h2>
                </a>
            </div>

            <div class="admin-section">
                <a href="{{ path('sales_dashboard') }}"> <!-- Remplace par la route du dashboard -->
                    <img src="{{ asset('build/images/adminSpace/dashboard.png') }}" alt="Dashboard" class="admin-icon">
                    <h2>Dashboard</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
