{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stock des Jeux Vidéo</h1>
    
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for jeu in jeux %}
                <tr>
                    <td>{{ jeu.titre }}</td>
                    <td>{{ jeu.description }}</td>
                    <td>{{ jeu.prix }}€</td>
                    <td><img src="{{ asset('uploads/images/' ~ jeu.image) }}" alt="{{ jeu.titre }}" width="100"></td>
                    <td>
                        <a href="{{ path('admin_modifier_jeu', {id: jeu.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_ajouter_jeu') }}">Ajouter un nouveau jeu</a>
{% endblock %}
