<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page d'accueil de Gamestore, magasins de jeux vidéos présent en France à Lille, Paris, Bordeaux, Toulouse et Nantes. Retrouvez tous types de jeux vidéos : FPS, RPG, BUILDER, PLATFORM.">
    <meta name="author" content="Gwalchaved-Dev" />
    
    <!-- Appel du CSS compilé via Webpack Encore avec versionnement pour éviter la mise en cache -->
    {{ encore_entry_link_tags('app') }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">

   

    <title>Gamestore : magasins de jeux vidéos, rpg, fps, builder...</title>
</head>

<body>
    <header id="navbar-container">
        <!-- Wrapper pour le logo hors de la zone clip-path -->
        <div class="logo-container">
            <img src="{{ asset('build/images/logoGamestore.png') }}" alt="Gamestore logo" class="logo">
        </div>
        <nav class="navbar navbar-expand-lg bg-custom">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="sarpanch-regular nav-link" href="{{ path('app_homepage') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="sarpanch-regular nav-link" href="{{ path('galerie') }}">Nos jeux vidéos</a>
                    </li>
                    <!-- Ajout des icônes de connexion et caddie dans la navbar -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-person-circle"></i></a> <!-- Icone connexion/mon compte -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-cart4"></i></a> <!-- Icone caddie -->
                    </li>
                </ul>
            </div>
        </nav>
    </header>
     <main>
        {% block body %}{% endblock %}
    </main>
    <!-- FOOTER -->
    <footer>
        <p class="pt-mono-regular">&copy; 2024 Gamestore - Tous droits réservés</p>
        <p class="pt-mono-regular"><a href="#">Mentions légales</a> | <a href="#">Politique de confidentialité</a></p>
    </footer>

    <!-- Appel du JavaScript compilé via Webpack Encore -->
    {{ encore_entry_script_tags('app') }}
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
