<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page d'accueil de Gamestore, magasins de jeux vidéos présent en France à Lille, Paris, Bordeaux, Toulouse et Nantes. Retrouvez tous types de jeux vidéos : FPS, RPG, BUILDER, PLATFORM.">
    <meta name="author" content="Gwalchaved-Dev" />
    
    <!-- Appel du CSS compilé via Webpack Encore avec versionnement pour éviter la mise en cache -->
    {{ encore_entry_link_tags('app') }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">

    <title>Gamestore : magasins de jeux vidéos, rpg, fps, builder...</title>
</head>

<body>
    <header id="navbar-container">
        <!-- Wrapper pour le logo hors de la zone clip-path -->
        <div class="logo-container">
            <img src="{{ asset('build/images/logoGamestore.png') }}" alt="Gamestore logo" class="logo">
        </div>
        <nav class="navbar navbar-expand-lg bg-custom">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="sarpanch-regular nav-link" href="{{ path('app_homepage') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="sarpanch-regular nav-link" href="{{ path('galerie') }}">Nos jeux vidéos</a>
                    </li>
                    <!-- Ajout des icônes de connexion et caddie dans la navbar -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-person-circle"></i></a> <!-- Icone connexion/mon compte -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-cart4"></i></a> <!-- Icone caddie -->
                    </li>
                </ul>
            </div>
        </nav>
    </header>

<!-- CAROUSEL Gamestore -->
    <section id="carousel-section">
        <div class="container"> <!-- Ajout du container pour aligner avec la section présentation -->
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{ asset('build/images/fps/fpsGameplay.png') }}" class="d-block w-100" alt="FPS Gameplay">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="sarpanch-semibold">Nouveauté</h2>
                            <p class="pt-mono-regular">Nouveau FPS disponible.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ asset('build/images/rpg/rpgCine.png') }}" class="d-block w-100" alt="RPG">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="sarpanch-semibold">Promotion du mois</h2>
                            <p class="pt-mono-regular">- 20 % sur nos RPG.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('build/images/platform/plateFormCine.png') }}" class="d-block w-100" alt="Plateform Cine">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="sarpanch-semibold">Découvrez tous nos jeux</h2>
                            <p class="pt-mono-regular">Jeux disponibles pour tous les goûts.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> <!-- Fermeture du container -->
    </section>

    <!-- SECTION PRÉSENTATION -->
    <section id="presentation">
        <div class="presentation-box">
            <h1 class="sarpanch-semibold">Gamestore, bien plus qu'un magasin !</h1>
            <p class="pt-mono-regular">Gamestore, c’est votre destination incontournable pour les jeux vidéo en France, avec des magasins situés à Lille, Paris, Bordeaux, Toulouse et Nantes.</p><br/>
            <p class="pt-mono-regular">Plus qu’une simple boutique, Gamestore est une véritable référence pour les passionnés de jeux vidéo. Que vous soyez un adepte des FPS, RPG, plateformes ou autres genres, nous avons ce qu’il vous faut sur toutes les plateformes populaires.</p><br/>

            <p class="pt-mono-regular">Notre mission est d’offrir à nos clients non seulement un large choix de jeux vidéo, mais également une expérience unique. C’est pourquoi nous mettons en avant des promotions régulières, des exclusivités, ainsi que des événements pour les gamers de tous horizons.</p><br/>

            <p class="pt-mono-regular">Aujourd'hui, Gamestore passera à un autre niveau avec la vente en ligne, vous permettant de réserver vos jeux préférés et de les retirer en magasin. Profitez d’une navigation fluide et d’une expérience immersive depuis le confort de votre domicile. Gamestore, bien plus qu’un magasin, c’est l’endroit où chaque joueur trouve son bonheur. Plongez dans notre univers et découvrez des jeux vidéo pour tous les goûts !</p><br/>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <p class="pt-mono-regular">&copy; 2024 Gamestore - Tous droits réservés</p>
        <p class="pt-mono-regular"><a href="#">Mentions légales</a> | <a href="#">Politique de confidentialité</a></p>
    </footer>

    <!-- Appel du JavaScript compilé via Webpack Encore -->
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('carousel') }}

    <!-- Ajout du fichier JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>